
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/myStyleSheet.css" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li> <a href="@Url.Action("Index", "Stack")">Stack</a> </li>
            <li><a href="#">Queue</a></li> 
            <li><a href="#">Dictionary</a></li>
            <li><a href="#">Exit</a></li>
        </ul>
    </div>
</body>
</html>
