@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueueView</title>
</head>
<body>
    <div class="subList">
        <ul>
            <li><a href="@Url.Action("Index", "Stack")">Add one time to queue</a> </li>
            <li><a href="#">Add Huge List of Items to queue</a></li>
            <li><a href="#">Display queue</a></li>
            <li><a href="#">Delete from queue</a></li>
            <li><a href="#">Clear queue</a></li>
            <li><a href="#">Search queue</a></li>
            <li><a href="#">Return to Main Menu</a></li>
        </ul>
    </div>
</body>
</html> 