
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DictionaryView</title>

</head>
<body>
    <div class="subList">
        <ul>
            <li><a href="@Url.Action("AddOne", "Stack")">Add one time to Dictionary</a> </li>
            <li><a href="#">Add Huge List of Items to Dictionary</a></li>
            <li><a href="#">Display Dictionary</a></li>
            <li><a href="#">Delete from Dictionary</a></li>
            <li><a href="#">Clear Dictionary</a></li>
            <li><a href="#">Search Dictionary</a></li>
            <li><a href="#">Return to Main Menu</a></li>
        </ul>
    </div>
</body>
</html>   

