
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StackView</title>
</head>
<body>
    <div class="subList">
        <ul>
            <li><a href="@Url.Action("Index", "Stack")">Add one time to stack</a> </li>
            <li><a href="#">Add Huge List of Items to Stack</a></li>
            <li><a href="#">Display Stack</a></li>
            <li><a href="#">Delete from Stack</a></li>
            <li><a href="#">Clear Stack</a></li>
            <li><a href="#">Search Stack</a></li>
            <li><a href="#">Return to Main Menu</a></li>
        </ul>
    </div>
</body>
</html>
